@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 25px;
  color: #555555;
}

main {
  width: 100%;
}

header, .header {
  background: #F5F5F5;
}

header {
  padding: 15px;
}

header * {
  margin: 0;
}

h1 {
  font-size: 18vw;
}

h1::first-letter {
  font-size: 21vw;
}

h2 {
  font-size: 10vw;
}

h3 .fa {
  position: absolute;
  right: 0;
}

a {
  text-decoration: none;
  color: #555555;
}

section {
  position: relative;
  padding: 0 15px;
}

section:not(#items) .banner-item {
  padding-top: 50px;
}

section.splash ul {
  margin-bottom: 0;
}

.splash {
  min-height: 100vh;
}

.splash-content {
  margin: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-even {
  justify-content: space-evenly;
}

.flex-1 {
  font-size: 6vw;
  width: 100%;
}

.flex-1:not(:last-of-type) {
  margin-bottom: 20px;
}

.lead-me {
  position: relative;
}

.clickable {
  cursor: pointer;
}

.buttonize {
  display: inline-block;
  border: 1px solid #5F5F5F;
  background-color: #5F5F5F;
  border-radius: 5px;
  padding: 10px;
  color: #F5F5F5;
}

.lead-me:after {
  content: "→";
}

.lead-me:hover:after {
  content: " →";
}

.explore {
  display: block;
  text-align: center;
  margin: 50px auto 20px auto;
  width: 50vw;
  background-color: #5F5F5F;
  color: #F5F5F5;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 8vw;
}

.header * {
  color: #555555;
}

.header > * {
  vertical-align: middle;
  display: inline-block;
}

.header .logo {
  padding: 5px;
  margin-left: 15px;
}

.header ul {
  list-style: none;
  padding: 0 15px 0 0;
  margin: 0;
  float: right;
}

.header ul li {
  float: left;
  outline: none;
}

.header .clickable {
  display: inline-block;
  padding: 10px;
}

.header .clickable:hover {
  background-color: #E7E7E7;
}

.header .fa-style {
  margin-bottom: 0;
  display: block;
}

.hidden, .fa.hidden, .toolbox .fa.hidden {
  display: none;
}

.explore-main {
  max-width: 1000px;
  margin: 0 auto;
}

.banner {
  margin-top: 18vw;
  margin-left: 0;
  margin-bottom: 5vw;
  text-align: center;
}

.banner-item {
  text-align: left;
}

.search-box {
  width: 90%;
  margin: 0 auto 35px auto;
  display: block;
  padding: 5px 8px;
  font-size: 15px;
  color: #555555;
  border: 1px solid #555555;
}

.search-box.hidden {
  display: none;
}

.results-list {
  padding: 0;
  list-style: none;
  margin-top: 0;
}

.result {
  padding: 15px 5px;
  position: relative;
}

.result:hover {
  box-shadow: 1px 1px 6px 1px;
}

.result a:hover {
  text-decoration: underline;
}

.item-heading {
  margin-bottom: 0;
  border-bottom: 1px solid #E7E7E7;
  position: relative;
}

.additional-info {
  font-size: 18px;
  font-style: italic;
  display: inline-block;
  margin-left: 10px;
}

.activated {
  background-color: #E7E7E7;
}

.table {
  display: table;
  padding: 10px;
  border: 1px solid #555555;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: block;
  margin-bottom: 5px;
}

form.table {
  position: relative;
}

form.table * {
  font-size: 20px;
}

form.table input[type=text] {
  padding: 5px;
  width: 85%;
}

form .toolbox {
  margin: 0;
  position: absolute;
  right: 10px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
}

form .toolbox * {
  display: block;
  cursor: pointer;
}

form .toolbox *:not(:last-child) {
  margin-bottom: 10px;
}

form button {
  border: none;
  background-color: inherit;
  padding: 0;
}

form .toolbox button:focus {
  outline: none;
}

form .toolbox .fa::before, .toolbox .fa::before {
  font-size: 8vw;
}

.toolbox {
  position: absolute;
  left: 6.25vw;
  top: auto;
}

.toolbox .fa {
  display: inline-block;
  font-size: 0;
}

.toolbox .fa:not(:last-child) {
  margin-right: 10px;
}

.js-opt-list-item {
  position: absolute;
  background-color: #FFFFFF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.js-opt-list-item .fa:not(:last-child) {
  margin-right: 5px;
}

.search-overlay {
  position: absolute;
  z-index: 1;
  background-color: #FFFFFF;
}

.search-overlay .results-list:not(:empty) {
  border: 1px solid #555555;
}

.search-overlay .results-list {
  margin-bottom: 0;
}

#item-works-creator-list .js-opt-list-item {
  display: none;
}

#items form {
  margin-top: 18vw;
}

#items form h2 {
  text-align: center;
}

#items form div {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#items form input {
  flex: 1;
  margin-right: 10px;
  max-width: 70%;
  font-size: 1.5vw;
  padding: 5px 8px;
  color: #555555;
  border: 1px solid #555555;
}

#items form .fa {
  padding: 5px;
}

.error {
  margin-top: 18vw;
  padding-top: 50px;
  padding-bottom: 2vw;
  position: relative;
}

.error .x {
  position: absolute;
  right: 4px;
  top: 0;
}

.error .text {
  background-color: #FFB5B5;
  border: 1px solid #CE6565;
  border-radius: 5px;
  padding: 4px 16px 4px 4px;
}

.error:not(.hidden) + #banner-item-creator.banner-item,  .error:not(.hidden) + #banner-item-work.banner-item{
  margin-top: 0;
  padding-top: 0;
}

@media only screen and (min-width: 640px) {
  h1 {
    font-size: 12vw;
  }
  
  h1::first-letter {
    font-size: 16vw;
  }

  section {
    padding: 0 15px;
  }
  
  section:not(#items) .banner-item {
    padding-top: 4vw;
  }
  
  .explore {
    margin-top: 100px;
  }
  
  .explore-main {
    width: 800px;
  }
  
  .header {
    font-size: 3vw;
  }
  
  .header ul {
    padding-right: 25px;
  }
  
  h2 {
    font-size: 7vw;
  }
  
  .toolbox {
    position: absolute;
    left: 30px;
  }
  
  form.table label {
    width: 10%;
    padding-right: 25px;
  }
  
  .toolbox .fa, .toolbox .fa::before, form .toolbox .fa::before {
    font-size: 3vw;
  }
  
  .toolbox .fa:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .search-box {
    width: 50%;
    font-size: 2.5vw;
    margin-bottom: 100px;
  }
  
  .banner {
    margin-top: 7vw;
    margin-left: 0;
    margin-bottom: 20px;
  }
  
  .banner-item {
    font-size: 5vw;
  }
  
  .result {
    padding: 15px 20px;
  }
  
  .js-opt-list-item {
    right: 20px;
  }
  
  .item-heading {
    font-size: 3vw;
  }
  
  .table-cell {
    display: table-cell;
  }
  
  .flex-1 {
    font-size: 3vw;
    width: 300px;
  }
  
  #items form {
    margin-top: 7vw;
  }
  
  #items form div {
    width: 70%;
  }
  
  .error {
    padding-top: 7vw;
    margin-top: 7vw;
  }
  
  .error .top {
    padding-top: 4vw;
  }
}

@media only screen and (min-width: 1000px) {
  .flex-1 {
    font-size: 1.5vw;
  }
  
  .toolbox {
    position: fixed;
  }
  
  .toolbox .fa, .toolbox .fa::before, form .toolbox .fa::before {
    font-size: 2vw;
  }
  
  .toolbox .fa {
    display: block;
  }
  
  section:not(#items) .banner-item {
    padding-top: 0;
  }
  
  .error {
    padding-top: 0;
  }
  
  .error .top {
    padding-top: 0;
  }
}