@charset "UTF-8";

:root {
  --main-color: #555555;
  --color-med-gray: #808080;
  --color-acct-gray: #E7E7E7;
  --color-lt-gray: #F5F5F5;
  --color-acct-red: #CC2900;
  --color-acct-red-trans: #CC290015;
  --color-acct-purple: #8B008B;
  --color-acct-purple-trans: #8B008B15;
  --color-acct-gold: #AF851A;
  --color-acct-gold-trans: #AF851A15;
  --color-acct-blue: #4682B4;
  --color-acct-blue-trans: #4682B415;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 25px;
  color: var(--main-color);
}

main {
  width: 100%;
}

header, .header {
  background: var(--color-lt-gray);
}

header {
  padding: 15px;
}

header * {
  margin: 0;
}

h1 {
  font-size: 18vw;
}

h1::first-letter {
  font-size: 21vw;
}

h2 {
  font-size: 12vw;
  text-align: center;
}

h3 .fa {
  position: absolute;
  right: 0;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

section {
  position: relative;
  padding: 0 15px;
}

section:not(#items):not(#help) .banner-item {
  padding-top: 50px;
}

section.splash h2 {
  margin-top: 0;
}

section.splash ul {
  margin-bottom: 0;
}

.splash {
  min-height: 100vh;
}

.splash-content {
  margin: auto;
}

.flex {
  display: flex;
}

.flex-alternate {
  order: 2;
}

.bibliofile, .discover {
  color: var(--color-med-gray);
}

.selling-points {
  width: 80%;
  margin: 0 auto;
}

.selling-points > .logo {
  display: block;
  margin: 0;
  font-size: 13vw;
  text-align: center;
  cursor: default;
}

.logo-beta {
  color: var(--color-acct-red);
}

.logo-creators, #banner-item-creator {
  color: var(--color-acct-purple);
}

.logo-works, #banner-item-work {
  /* color: #DAA520; */
  color: var(--color-acct-gold);
}

.logo-convo {
  color: var(--color-acct-blue);
}

.selling-points:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color-lt-gray);
}

.selling-points p {
  font-size: 5vw;
  margin-bottom: 0;
}

.flex-1 {
  font-size: 6vw;
  width: 100%;
}

.flex-1:not(:last-of-type) {
  margin-bottom: 20px;
}

.clickable {
  cursor: pointer;
}

.buttonize {
  display: inline-block;
  border: 1px solid var(--color-med-gray);
  background-color: var(--color-med-gray);
  border-radius: 5px;
  padding: 10px;
  color: var(--color-lt-gray);
}

.lead-me {
  position: relative;
}

.explore {
  display: block;
  text-align: center;
  margin: 50px auto 20px auto;
  width: 50vw;
  background-color: var(--color-med-gray);
  color: var(--color-lt-gray);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 8vw;
}

.header * {
  color: inherit;
}

.header > * {
  vertical-align: middle;
  display: inline-block;
}

.header .logo {
  padding: 5px;
  margin-left: 15px;
}

.header .logo-creators.activated, .header .logo-creators:hover, .header .logo-creators:focus {
  color: var(--color-acct-purple);
  background-color: var(--color-acct-purple-trans);
}

.header .logo-creators.activated:focus {
  outline: 1px solid var(--color-acct-purple);
}

.header .logo-works.activated, .header .logo-works:hover, .header .logo-works:focus {
  color: var(--color-acct-gold);
  background-color: var(--color-acct-gold-trans);
}

.header .logo-works.activated:focus {
  outline: 1px solid var(--color-acct-gold);
}

.header .logo-convo.activated, .header .logo-convo:hover, .header .logo-convo:focus {
  color: var(--color-acct-blue);
  background-color: var(--color-acct-blue-trans);
}

.header .logo-convo.activated:focus {
  outline: 1px solid var(--color-acct-blue);
}

.header .logo-help.activated, .header .logo-help:hover, .header .logo-help:focus {
  color: var(--color-acct-red);
  background-color: var(--color-acct-red-trans);
}

.header .logo-help.activated:focus {
  outline: 1px solid var(--color-acct-red);
}

.header ul {
  list-style: none;
  padding: 0 15px 0 0;
  margin: 0;
  float: right;
}

.header ul li {
  float: left;
  outline: none;
}

/* .header ul li:focus {
  background-color: #E7E7E7;
} */

/* .header ul li.activated:focus {
  outline: 1px solid #555555;
} */

.header .clickable {
  display: inline-block;
  padding: 10px;
}

/* .header .clickable:hover {
  background-color: #E7E7E7;
} */

.header .fa-style {
  margin-bottom: 0;
  display: block;
}

.hidden, .fa.hidden, .toolbox .fa.hidden {
  display: none;
}

.explore-main {
  max-width: 1000px;
  margin: 0 auto;
}

.banner {
  margin-top: 18vw;
  margin-left: 0;
  margin-bottom: 5vw;
  text-align: center;
}

.banner-item {
  text-align: left;
}

.search-box {
  width: 90%;
  margin: 0 auto 35px auto;
  display: block;
  padding: 5px 8px;
  font-size: 15px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.search-box.hidden {
  display: none;
}

.results-list {
  padding: 0;
  list-style: none;
  margin-top: 0;
  width: 100%;
}

.result {
  padding: 15px 5px;
  position: relative;
}

.result:hover, .result:focus {
  box-shadow: 1px 1px 6px 1px;
}

.result:focus {
  outline: none;
}

.result a:hover {
  text-decoration: underline;
}

.item-heading {
  margin-bottom: 0;
  border-bottom: 1px solid var(--color-acct-gray);
  position: relative;
}

.additional-info {
  font-size: 18px;
  font-style: italic;
  display: inline-block;
  margin-left: 10px;
}

/* .activated {
  background-color: #E7E7E7;
} */

.table {
  display: table;
  padding: 10px;
  border: 1px solid var(--main-color);
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: block;
  margin-bottom: 5px;
}

input:invalid {
  box-shadow: none;
}

form.table {
  position: relative;
}

form.table * {
  font-size: 20px;
}

form.table input[type=text] {
  padding: 5px;
  width: 85%;
}

form .toolbox {
  margin: 0;
  position: absolute;
  right: 10px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
}

form .toolbox * {
  display: block;
  cursor: pointer;
}

form .toolbox *:not(:last-child) {
  margin-bottom: 10px;
}

form button {
  border: none;
  background-color: inherit;
  padding: 0;
}

form .toolbox button:focus {
  outline: none;
}

form .toolbox .fa::before, .toolbox .fa::before {
  font-size: 8vw;
}

.toolbox {
  position: absolute;
  left: 6.25vw;
  top: auto;
}

.toolbox .fa {
  display: inline-block;
  font-size: 0;
}

.toolbox .fa:not(:last-child) {
  margin-right: 10px;
}

.js-opt-list-item {
  position: absolute;
  background-color: #FFFFFF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.js-opt-list-item .fa:not(:last-child) {
  margin-right: 5px;
}

.search-overlay {
  position: absolute;
  z-index: 1;
  background-color: #FFFFFF;
}

.search-overlay .results-list:not(:empty) {
  border: 1px solid var(--main-color);
}

.search-overlay .results-list {
  margin-bottom: 0;
}

#item-works-creator-list .js-opt-list-item {
  display: none;
}

#items form:not(#convo-form) {
  margin-top: 18vw;
}

#items form h2 {
  text-align: center;
}

#items form div {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#items input {
  flex: 1;
  margin-right: 10px;
  max-width: 70%;
  padding: 5px 8px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

#items input.search-box {
  margin-right: auto;
}

#items form .fa {
  padding: 5px;
}

#convo-form {
  position: relative;
  width: 75%;
  margin: 0 auto;
}

#convo-form input {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

#srch-over-contrib {
  font-size: 15px;
}

#convo-form #srch-over-contrib {
  display: block;
}

#help h2 {
  color: var(--color-acct-red);
}

#help h3, h4 {
  margin-bottom: 0;
}

#help h3 {
  font-size: 3vw;
}

#help h4 {
  font-size: 2.5vw;
}

#help p {
  margin-top: 0;
}
dl {
  overflow:hidden;
}

dt {
  font-weight: 700;
}

dt:after {
  content: ":";
}

dd {
  margin-left: 0;
  margin-bottom: 5px;
}

.error {
  margin-top: 18vw;
  padding-top: 50px;
  padding-bottom: 2vw;
  position: relative;
}

.error .x {
  position: absolute;
  right: 4px;
  top: 50px;
  color: #CE3030;
}

.error .text {
  background-color: #FFB5B5;
  border: 1px solid #CE3030;
  border-radius: 5px;
  padding: 4px 16px 4px 4px;
}

.error:not(.hidden) + #banner-item-creator.banner-item,  .error:not(.hidden) + #banner-item-work.banner-item{
  margin-top: 0;
  padding-top: 0;
}

@media only screen and (min-width: 640px) {
  h1 {
    font-size: 12vw;
  }
  
  h1::first-letter {
    font-size: 16vw;
  }

  section {
    padding: 0 15px;
  }
  
  section:not(#items):not(#help) .banner-item {
    padding-top: 4vw;
  }

  .flex-item-p {
    flex-basis: 70%
  }

  .discover {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .selling-points {
    width: 60%;
  }

  .selling-points:not(:last-of-type) {
    margin-bottom: 25px;
    padding-bottom: 0;
    border-bottom-width: 0;
  }

  .selling-points > .logo {
    display: inline-block;
    flex-basis: 0;
    font-size: 8vw;
  }

  .selling-points p {
    font-size: 2.2vw;
  }

  .explore {
    margin-top: 100px;
  }
  
  .explore-main {
    width: 800px;
  }
  
  .header {
    font-size: 3vw;
  }
  
  .header ul {
    padding-right: 25px;
  }
  
  h2 {
    font-size: 7vw;
  }
  
  .toolbox {
    position: absolute;
    left: 30px;
  }
  
  form.table label {
    width: 10%;
    padding-right: 25px;
  }
  
  .toolbox .fa, .toolbox .fa::before, form .toolbox .fa::before {
    font-size: 3vw;
  }
  
  .toolbox .fa:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .search-box {
    width: 50%;
    font-size: 1.5vw;
    margin-bottom: 100px;
  }
  
  .banner {
    margin-top: 7vw;
    margin-left: 0;
    margin-bottom: 20px;
  }
  
  .banner-item {
    font-size: 5vw;
  }
  
  .result {
    padding: 15px 20px;
  }
  
  .js-opt-list-item {
    right: 20px;
  }
  
  .item-heading {
    font-size: 3vw;
  }
  
  .table-cell {
    display: table-cell;
  }
  
  .flex-1 {
    font-size: 3vw;
    width: 300px;
  }
  
  #items form:not(#convo-form) {
    margin-top: 7vw;
  }
  
  #items form div {
    width: 70%;
  }
  
  .error {
    padding-top: 7vw;
    margin-top: 7vw;
  }
  
  .error .x {
    top: 7vw;
  }

  .error .top {
    padding-top: 4vw;
  }
  
  #srch-over-contrib {
    font-size: 1.5vw;
  }

  dt {
    width: 30%;
  }

  dd {
    width: 70%;
    margin-left: 0;
  }

  dt, dd {
    float: left;
  }
}

@media only screen and (min-width: 1000px) {
  .flex-1 {
    font-size: 1.5vw;
  }
  
  .toolbox {
    position: fixed;
  }
  
  .toolbox .fa, .toolbox .fa::before, form .toolbox .fa::before {
    font-size: 2vw;
  }
  
  .toolbox .fa {
    display: block;
  }
  
  section:not(#items) .banner-item {
    padding-top: 0;
  }
  
  .error {
    padding-top: 0;
  }
  
  .error .x {
    top: 0;
  }

  .error .top {
    padding-top: 0;
  }

  .selling-points p {
    font-size: 2vw;
  }
}